* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 12px;
  font-weight: 400;
}

html {
  scroll-behavior: smooth;
}

form {
  border: 1px solid black;
  width: 437px;
  box-shadow: 1px 1px 1px gray;
}

.header_1 {
  background-color: #002539;
  padding: 5px;
  max-width: 437px;
  /* border: 0.5px solid black; */
}

.header_2 {
  background-color: #00314d;
  padding: 10px;
  max-width: 437px;
  border: 0.5px solid black;
}

.links_topo {
  color: #ececec;
  text-shadow: 1px 1px 2px black;
  text-decoration: none;
  width: 194px;
  border: 0.5px solid black;
  border-radius: 6px;
  padding: 6px;
  margin: 1px;
}

.links_topo:hover {
  background-color: #ffcd07;
  font-size: 1.2em;
  transition: 0.2s;
}

.nome_secao {
  color: #ececec;
  font-size: 22px;
  font-weight: 400;
  padding: 10px;
}

a {
  display: inline-block;

  width: 90px;

  /* background-color: lightblue; */

  list-style: none;

  text-align: center;

  margin-left: -4px;
}

.vinculosCheckbox {
  border: 1px solid gray;
  border-radius: 4px;
  margin-top: 3px;
  margin-left: 10px;
  padding: 5px;
  width: 360px;
  margin: auto;
}

.inputs_geral:focus {
  background-color: #ffffe0;
  outline: 1px solid #ffcd07;
  border-radius: 4px;
}

textarea {
  border-radius: 4px;
}

textarea:focus {
  background-color: #ffffe0;
  outline: 1px solid #ffcd07;
}

.scroll {
  display: absolute;
  margin-left: 350px;
  font-size: 28px;
  color: #ffcd07;
}

.scroll:active{
  color: green;
  font-size: 60px;
  transition: 0.050s;
}

.black_subtitles {
  margin-left: 180px;
  font-weight: bold;
}

.label_inputs {
  display: inline-block;
  font-weight: 650;
  width: 50px;
  /* border: 1px solid black; */
  margin: 3px 3px 3px 20px;
  vertical-align: middle;
}

.inputs_geral {
  border-radius: 4px;
  width: 260px;
  padding: 5px;
  margin: 2px;
  /* box-shadow: 0.5px 0.5px 0.5px black; */
}

.radio_selections {
  border: 1px solid black;
  border-radius: 6px;
  padding: 10px;
  display: inline-block;
  width: 310px;
  height: 40px;
  margin: 2px;
  margin-left: 68px;
  text-align: center;
}

.radio_selections:hover {
  background-color: #ffcd07;
  font-size: 1.1em;
  transition: 0.2s;
}

.solicitante_container {
  /* border: 1px solid black; */
}

.dependentes_textarea {
  padding: 2px;
  /* margin: 2px;  */
}

.dependentes_textarea:focus {
  background-color: #ffffe0;
}

#text_area_container {
  /* border: 1px solid black; */
  text-align: center;
  margin: 10px 0px 0px 0px;
}

div button {
  display: block;
  margin-left: 170px;
  padding: 5px 10px;
}

.text_area_resposta {
  padding: 5px;
  width: 420px;
}

/*Aqui começa o CSS da parte de Vínculos*/
#label_endereco {
  vertical-align: top;
}
.vinculos_radio {
  /* border: 1px solid black; */
  display: inline-block;
  margin-left: 60px;
}

.pa_radio {
  /* border: 1px solid black; */
  display: inline-block;
  margin-left: 60px;
}

#assunto {
  vertical-align: top;
}

#assunto_email {
  margin-left: 18px;
}

#ms_textarea {
  margin-left: 8px;
}

label[id="assunto"] {
  margin-left: 4px;
  vertical-align: super;
}

/* .div_botao {
    
} */

footer {
  margin-left: 135px;
}

#end_rl {
  vertical-align: top;
}
